[user]
    name = "Srinath Ananthakrishnan"
    email = "srinath.krishna@gmail.com"

[init]
	defaultBranch = main

# this is commented out here but can be set on a root .gitconfig
#[include]
#    path = "~/.dotfiles/.gitconfig"

[core]
    editor = nvim
    # http://stackoverflow.com/questions/18257622/why-is-git-core-preloadindex-default-value-false
    preloadindex = true
    deltabasecachelimit = 4g
    #fsmonitor = true
    #untrackedcache = true

[help]
    # Automatically correct and execute mistyped commands such as `git stauts`
    autocorrect = 1

[feature]
    manyfiles = true

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto

[fetch]
    prune = true

[pull]
    rebase = false

[push]
    default = simple
    autoSetupRemote = true

[merge]
    tool = vimdiff

[diff]
    tool = vimdiff
    noprefix = true

[difftool]
    prompt = false

# https://git-scm.com/book/en/v2/Git-Tools-Rerere
# reuse recorded resolution
[rerere]
    enabled = true

[alias]
    ablog = log --abbrev-commit
    bl = blame
    br = !"git --no-pager branch"
    ci = commit
    cleanup = !"git branch --no-merged | grep  -v '\\*\\|master\\|develop\\|main' | xargs -n 1 git branch -d"
    co = checkout
    com = commit
    coma = commit --amend
    comad = !"git commit --amend --date=\"$(date -R)\""
    coman = commit --amend --no-verify
    come = commit --allow-empty
    comn = commit --no-verify
    d = difftool
    df = diff
    dfh = diff HEAD
    dfhp = diff 'HEAD^'
    dfs = diff --staged
    ding = !"foo=$(git branch --show-current) && git checkout master && git pull && git checkout \"$foo\" && git rebase master"
    drev = diff --no-prefix --full-index
    drevh = !"git drev HEAD~ HEAD"
    l = log --date=local
    lf = log --name-only
    lg = !"git lg1"
    lg = log -p
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    mm = !"git fetch origin master && git merge origin/master --no-edit"
    pu = pull --prune
    pushf = push -f
    pushh = push -u origin HEAD
    pushfn = push -f --no-verify
    pushn = push --no-verify
    sclone = svn clone -s --prefix=origin/
    sf = show -p --name-only
    sh = show
    sha = show --abbrev-commit
    shrev = show --no-prefix --full-index
    st = status --untracked-files=no
    sta = status
    stash-unapply = !git stash show -p | git apply -R
    svn-diff = !git-svn-diff
    top100 = log -100 --pretty='format:%H (%an, %ad)'
    top1000 = log -1000 --pretty='format:%H (%an, %ad)'
    tree = log --graph --decorate --pretty=oneline --abbrev-commit
    unstage = reset HEAD --
    who = shortlog -s --
    wt = worktree
    wtl = worktree list
    wtt = rev-parse --show-toplevel
