.vim/.netrwhist
.*.swp
.DS_Store
.vim/view

# emacs
emacs/.emacs.d/*
!emacs/.emacs.d/configuration.org
!emacs/.emacs.d/new_configuration.org
!emacs/.emacs.d/init.el
!emacs/.emacs.d/org-templates

# some custom binaries
bin/zig
bin/zls
