.vim/.netrwhist
.*.swp
.DS_Store
.vim/view

# emacs
archive/emacs/.emacs.d/*
!archive/emacs/.emacs.d/configuration.org
!archive/emacs/.emacs.d/new_configuration.org
!archive/emacs/.emacs.d/init.el
!archive/emacs/.emacs.d/org-templates

# some custom binaries
bin/zig
bin/zls
bin/ion
