[core]
    editor = vim
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
[push]
    default = simple
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    st = status --untracked-files=no
    sta = status
    ci = commit
    df = diff
    dfs = diff --staged
    dfh = diff HEAD
    dfhp = diff 'HEAD^'
    bl = blame
    l = log --date=local
    lg = log -p
    who = shortlog -s --
    tree = log --graph --decorate --pretty=oneline --abbrev-commit
    svn-diff = !git-svn-diff
    stash-unapply = !git stash show -p | git apply -R
    sclone=svn clone -s --prefix=origin/
    sha=show --abbrev-commit
    ablog = log --abbrev-commit
    lf = log --name-only
    br = --no-pager branch
    co = checkout
    d = difftool
    drev = diff --no-prefix --full-index
    drevh = !"git drev HEAD~ HEAD"
    sh = show
    shrev = show --no-prefix --full-index
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
    com = commit
    coma = commit --amend
    comad = !"git commit --amend --date=\"$(date -R)\""
