[submodule "linux/i3blocks-contrib"]
	path = linux/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
[submodule "zsh-vim-mode"]
	path = zsh-vim-mode
	url = https://github.com/softmoth/zsh-vim-mode.git
[submodule "zsh"]
	path = zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
