[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/cscope_macros.vim"]
	path = .vim/bundle/cscope_macros.vim
	url = https://github.com/vim-scripts/cscope_macros.vim.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/ctags.vim"]
	path = .vim/bundle/ctags.vim
	url = https://github.com/vim-scripts/ctags.vim--Johnson.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/bundle/vim-elixir"]
	path = .vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule ".vim/bundle/pgsql.vim"]
	path = .vim/bundle/pgsql.vim
	url = https://github.com/lifepillar/pgsql.vim.git
[submodule "linux/i3blocks-contrib"]
	path = linux/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
[submodule "zsh-vim-mode"]
	path = zsh-vim-mode
	url = https://github.com/softmoth/zsh-vim-mode.git
[submodule "zsh"]
	path = zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".vim/bundle/vim-terraform"]
	path = .vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-puppet"]
	path = .vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule ".vim/bundle/vim-pug"]
	path = .vim/bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule ".vim/pack/plugins/start/copilot.vim"]
	path = .vim/pack/plugins/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule ".vim/pack/plugins/start/zig.vim"]
	path = .vim/pack/plugins/start/zig.vim
	url = https://github.com/ziglang/zig.vim
[submodule ".vim/pack/plugins/start/fzf.vim"]
	path = .vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/plugins/start/fzf"]
	path = .vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/pack/plugins/start/vim-airline.git"]
	path = .vim/pack/plugins/start/vim-airline.git
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/start/vim-lsp.git"]
	path = .vim/pack/plugins/start/vim-lsp.git
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule ".vim/pack/plugins/start/vim-lsp-settings.git"]
	path = .vim/pack/plugins/start/vim-lsp-settings.git
	url = https://github.com/mattn/vim-lsp-settings.git
[submodule ".vim/pack/plugins/start/vim-which-key.git"]
	path = .vim/pack/plugins/start/vim-which-key.git
	url = https://github.com/liuchengxu/vim-which-key.git
