[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/cscope_macros.vim"]
	path = .vim/bundle/cscope_macros.vim
	url = https://github.com/vim-scripts/cscope_macros.vim.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/ctags.vim"]
	path = .vim/bundle/ctags.vim
	url = https://github.com/vim-scripts/ctags.vim--Johnson.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "zsh"]
	path = zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/taglist.vim"]
	path = .vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
    ignore = untracked
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/bundle/vim-elixir"]
	path = .vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule ".vim/bundle/alchemist.vim"]
	path = .vim/bundle/alchemist.vim
	url = https://github.com/slashmili/alchemist.vim.git
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/bundle/vim-clojure-static"]
	path = .vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
    ignore = untracked
[submodule ".vim/bundle/vim-parinfer"]
	path = .vim/bundle/vim-parinfer
	url = https://github.com/bhurlow/vim-parinfer.git
    ignore = untracked
[submodule ".vim/bundle/kotlin-vim"]
	path = .vim/bundle/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule ".vim/bundle/pgsql.vim"]
	path = .vim/bundle/pgsql.vim
	url = https://github.com/lifepillar/pgsql.vim.git
[submodule ".vim/bundle/coc.nvim"]
	path = .vim/bundle/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule "linux/i3blocks-contrib"]
	path = linux/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
[submodule ".vim/bundle/elm-vim"]
	path = .vim/bundle/elm-vim
	url = https://github.com/ElmCast/elm-vim.git
[submodule ".vim/bundle/julia-vim"]
	path = .vim/bundle/julia-vim
	url = https://github.com/JuliaEditorSupport/julia-vim.git
[submodule ".vim/bundle/vim-pug"]
	path = .vim/bundle/vim-pug
	url = git://github.com/digitaltoad/vim-pug.git
