<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>108A70C8-01D3-4EAD-8E52-BE39311C79A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBEBC3E7-FD96-467D-B972-1067A9472C8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1849B799-5720-4FB6-A8BD-3E3D4691E775</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BEB16BA1-6989-4FF5-B018-2EB82CEC7980</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22E834F5-0A12-4F7F-AFFC-B40B717AB484</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB0558AA-0D32-4859-8F31-0DF4F3F5C540</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>310EF5E8-0450-4EA1-AED9-6EDF4CA17A28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70A0233A-0371-4BFF-A798-7B4BC8851C16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45E55954-8B21-4744-80C7-303F52C73757</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBEBC3E7-FD96-467D-B972-1067A9472C8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70A0233A-0371-4BFF-A798-7B4BC8851C16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B6EB8E3-79A0-42DB-A6B9-DD5B7A36CAB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7435A110-E648-4E8F-A0BA-1FE54BFA5646</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB2C1D1C-2C43-42B5-8694-A91E2E5F6F16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7ACAA3D5-9FB8-4102-867D-0488BDD7FCE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>108A70C8-01D3-4EAD-8E52-BE39311C79A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7CE0AFA4-6E66-4DE1-A9E1-AE1D643E0652</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBEBC3E7-FD96-467D-B972-1067A9472C8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83CFD8A5-7314-420F-BD1B-A679FB468CE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBEBC3E7-FD96-467D-B972-1067A9472C8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B039F77E-4B25-4140-90BB-E3389E13C292</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83CFD8A5-7314-420F-BD1B-A679FB468CE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2CC2F19-C93D-4047-9893-88BE2472143A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45E55954-8B21-4744-80C7-303F52C73757</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6B049D9-395E-4582-BEED-8C59E630C97E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C68126B4-6191-4E77-8754-88AFC7D28401</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB10CF87-A6D4-4792-9180-E7B1CC7F894D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CE0AFA4-6E66-4DE1-A9E1-AE1D643E0652</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BEB16BA1-6989-4FF5-B018-2EB82CEC7980</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>978ED54E-D4B1-4013-91A7-0A4E6F4EC35E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2F38A30-6090-49C6-8149-F8350182C1D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C726797-A370-40C4-95C0-55299FEC8338</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C68126B4-6191-4E77-8754-88AFC7D28401</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBEBC3E7-FD96-467D-B972-1067A9472C8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA16B792-5548-4D2D-BC14-1083DE23154A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB2C1D1C-2C43-42B5-8694-A91E2E5F6F16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB0558AA-0D32-4859-8F31-0DF4F3F5C540</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBEBC3E7-FD96-467D-B972-1067A9472C8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBEBC3E7-FD96-467D-B972-1067A9472C8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C726797-A370-40C4-95C0-55299FEC8338</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>srinathkrishna</string>
	<key>description</key>
	<string>Simple utilities</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Utilities</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>base</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Get basename</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>310EF5E8-0450-4EA1-AED9-6EDF4CA17A28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0B6EB8E3-79A0-42DB-A6B9-DD5B7A36CAB6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

basename "$query" | tr -d '\n'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>70A0233A-0371-4BFF-A798-7B4BC8851C16</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>encb</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Base64 Encode</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B2CC2F19-C93D-4047-9893-88BE2472143A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>scheme</key>
					<string>base64</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>45E55954-8B21-4744-80C7-303F52C73757</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>encu</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>URL Encode</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7ACAA3D5-9FB8-4102-867D-0488BDD7FCE5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>shotc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Screenshot to Clipboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EA16B792-5548-4D2D-BC14-1083DE23154A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>scheme</key>
					<string>url</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>108A70C8-01D3-4EAD-8E52-BE39311C79A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># -c - capture to clipboard
# -i - interactive
screencapture -c -i</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FB2C1D1C-2C43-42B5-8694-A91E2E5F6F16</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ench</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>HTML Encode</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BB10CF87-A6D4-4792-9180-E7B1CC7F894D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>scheme</key>
					<string>html</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7CE0AFA4-6E66-4DE1-A9E1-AE1D643E0652</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>19</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7435A110-E648-4E8F-A0BA-1FE54BFA5646</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1


if [ -n "$decode" ]; then
	$bin/encdec -d "$scheme" "$query"
else
	$bin/encdec "$scheme" "$query"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FBEBC3E7-FD96-467D-B972-1067A9472C8D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>decb</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Base64 Decode</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B039F77E-4B25-4140-90BB-E3389E13C292</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>decode</key>
					<string>1</string>
					<key>scheme</key>
					<string>base64</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>83CFD8A5-7314-420F-BD1B-A679FB468CE1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9C726797-A370-40C4-95C0-55299FEC8338</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>decu</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>URL Decode</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>22E834F5-0A12-4F7F-AFFC-B40B717AB484</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>decode</key>
					<string>1</string>
					<key>scheme</key>
					<string>url</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EB0558AA-0D32-4859-8F31-0DF4F3F5C540</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dech</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>HTML Decode</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B6B049D9-395E-4582-BEED-8C59E630C97E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>978ED54E-D4B1-4013-91A7-0A4E6F4EC35E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>go2pc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Replace gocode URL to puppet-config URL</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1849B799-5720-4FB6-A8BD-3E3D4691E775</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

if [[ "$query" =~ ^https://git.corp.stripe.com/ ]]; then
	echo -n "$query" | sed -E "s/puppet-config\///" | sed -E "s/gocode/puppet-config/"
elif [[ "$query" =~ ^https://livegrep.corp.stripe.com/view/stripe-internal/gocode/puppet-config/ ]]; then
	echo -n "$query" | sed -E "s/^https:\/\/livegrep.corp.stripe.com\/view\/stripe-internal\/gocode\/puppet-config\/(.+)$/https:\/\/git.corp.stripe.com\/stripe-internal\/puppet-config\/blob\/master\/\1/"
elif [[ "$query" =~ ^https://stripe.sourcegraphcloud.com/git.corp.stripe.com/stripe-internal/gocode/-/blob/puppet-config/ ]]; then
	echo -n "$query" | sed -E "s/^https:\/\/stripe.sourcegraphcloud.com\/git.corp.stripe.com\/stripe-internal\/gocode\/-\/blob\/puppet-config\/(.+)$/https:\/\/git.corp.stripe.com\/stripe-internal\/puppet-config\/blob\/master\/\1/"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BEB16BA1-6989-4FF5-B018-2EB82CEC7980</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>decode</key>
					<string>1</string>
					<key>scheme</key>
					<string>html</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C68126B4-6191-4E77-8754-88AFC7D28401</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>enc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query=$1

base64=$($bin/encdec base64 "$query")
url=$($bin/encdec url "$query")
html=$($bin/encdec html "$query")

cat &lt;&lt; EOB
{"items": [

	{
		"uid": "base64",
		"title": "Base64: $base64",
		"arg": "$base64"
	}, {
		"uid": "url",
		"title": "URL: $url",
		"arg": "$url"
	}, {
		"uid": "html",
		"title": "html: $html",
		"arg": "$html"
	}
]}
EOB</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Encode in multiple formats</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C2F38A30-6090-49C6-8149-F8350182C1D9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0B6EB8E3-79A0-42DB-A6B9-DD5B7A36CAB6</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>108A70C8-01D3-4EAD-8E52-BE39311C79A3</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>1849B799-5720-4FB6-A8BD-3E3D4691E775</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>22E834F5-0A12-4F7F-AFFC-B40B717AB484</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>310EF5E8-0450-4EA1-AED9-6EDF4CA17A28</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>45E55954-8B21-4744-80C7-303F52C73757</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>70A0233A-0371-4BFF-A798-7B4BC8851C16</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>7435A110-E648-4E8F-A0BA-1FE54BFA5646</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>7ACAA3D5-9FB8-4102-867D-0488BDD7FCE5</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>7CE0AFA4-6E66-4DE1-A9E1-AE1D643E0652</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>83CFD8A5-7314-420F-BD1B-A679FB468CE1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>978ED54E-D4B1-4013-91A7-0A4E6F4EC35E</key>
		<dict>
			<key>xpos</key>
			<real>1135</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>9C726797-A370-40C4-95C0-55299FEC8338</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>B039F77E-4B25-4140-90BB-E3389E13C292</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>B2CC2F19-C93D-4047-9893-88BE2472143A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>B6B049D9-395E-4582-BEED-8C59E630C97E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>BB10CF87-A6D4-4792-9180-E7B1CC7F894D</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>BEB16BA1-6989-4FF5-B018-2EB82CEC7980</key>
		<dict>
			<key>xpos</key>
			<real>975</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>C2F38A30-6090-49C6-8149-F8350182C1D9</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>795</real>
		</dict>
		<key>C68126B4-6191-4E77-8754-88AFC7D28401</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>EA16B792-5548-4D2D-BC14-1083DE23154A</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>EB0558AA-0D32-4859-8F31-0DF4F3F5C540</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>FB2C1D1C-2C43-42B5-8694-A91E2E5F6F16</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>FBEBC3E7-FD96-467D-B972-1067A9472C8D</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>bin</key>
		<string>/Users/srinath/bin</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>bin</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
