<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>2BFFB14C-E0BE-48F4-ADED-B4EB3B3EF066</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B566367C-33D9-484E-9104-3D6D32EC9725</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35F25112-8471-4539-B6CE-B1A223F5484D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4F504C4-936F-4190-9025-3D548C182D09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E05C747-B3B8-43B4-A0C2-319F99C5B8C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4D63330-B305-450C-A14E-708F1990B3D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C321AC5-3A29-42BE-994A-F23820B0C82E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD68FEBD-E6F4-4FE1-97B7-1D5700934CC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90680729-1388-4C11-BEA2-A5D26579D1AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3093D2F-3B13-4143-B7E4-53C888032206</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92824A70-F067-4B18-A908-8CDE0A239B67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91525C9E-A387-4C34-BFD2-8B7C0C95863F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FD4F0C4-92FA-4E82-BADC-986CC906A0C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6326AFB-10A2-4240-877F-1BE5498020D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B629CE2F-D77D-42E8-BBF5-2A106E623F43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6B0AE30-267A-43C8-8AB0-5D0303C2E23D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B65D4165-FD30-40E2-BF7E-302A15D59CF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DBE513FF-2840-4B9B-92C0-DD999FEB70A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA0F89B8-2429-44FC-8A11-6B04F8C415DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3093D2F-3B13-4143-B7E4-53C888032206</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBBA0518-DD1D-41AE-9E2F-EE43ACC492F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0195983-A807-4A04-B5B6-9243656150D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC2D7FAF-AF91-41BE-B707-249FA4C1B3D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00D00BD2-C372-4ED7-82F3-9630425DF082</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>srinathkrishna</string>
	<key>description</key>
	<string>Helpful browser workflows</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Personal Browsing</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.brave.Browser</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://espncricinfo.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DBE513FF-2840-4B9B-92C0-DD999FEB70A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.brave.Browser</string>
				<key>searcher</key>
				<integer>1635215215</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>AD68FEBD-E6F4-4FE1-97B7-1D5700934CC8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fg</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Google</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7C321AC5-3A29-42BE-994A-F23820B0C82E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cric</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Cricinfo</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B65D4165-FD30-40E2-BF7E-302A15D59CF6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Search DuckDuckGo</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>3E05C747-B3B8-43B4-A0C2-319F99C5B8C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.brave.Browser</string>
				<key>searcher</key>
				<integer>1635214453</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>A4D63330-B305-450C-A14E-708F1990B3D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tw</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Twitter</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>92824A70-F067-4B18-A908-8CDE0A239B67</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.brave.Browser</string>
				<key>searcher</key>
				<integer>1635218551</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>91525C9E-A387-4C34-BFD2-8B7C0C95863F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.brave.Browser</string>
				<key>searcher</key>
				<integer>1635218553</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>00D00BD2-C372-4ED7-82F3-9630425DF082</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>yt</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search YouTube</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FC2D7FAF-AF91-41BE-B707-249FA4C1B3D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.brave.Browser</string>
				<key>searcher</key>
				<integer>1635218549</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>C6326AFB-10A2-4240-877F-1BE5498020D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>t@</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Twitter People Search</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9FD4F0C4-92FA-4E82-BADC-986CC906A0C5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Wikipedia on Firefox</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>CA0F89B8-2429-44FC-8A11-6B04F8C415DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.brave.Browser</string>
				<key>searcher</key>
				<integer>1635218547</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>F0195983-A807-4A04-B5B6-9243656150D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tw</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Twitter Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CBBA0518-DD1D-41AE-9E2F-EE43ACC492F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.brave.Browser</string>
				<key>searcher</key>
				<integer>1635219305</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>A3093D2F-3B13-4143-B7E4-53C888032206</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wiki</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Wikipedia</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>90680729-1388-4C11-BEA2-A5D26579D1AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.brave.Browser</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://hn.algolia.com/?dateRange=all&amp;page=0&amp;prefix=false&amp;query={query}&amp;sort=byPopularity&amp;type=story</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B566367C-33D9-484E-9104-3D6D32EC9725</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hn</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Hacker News</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2BFFB14C-E0BE-48F4-ADED-B4EB3B3EF066</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv

  tell application "Brave Browser" to activatedelay 0.2tell application "System Events"	keystroke "a" using {command down, shift down}	delay 0.2		keystroke "gmail"	keystroke returnend tell

end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C6B0AE30-267A-43C8-8AB0-5D0303C2E23D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>g</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Gmail</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B629CE2F-D77D-42E8-BBF5-2A106E623F43</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hn</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Hacker News</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>35F25112-8471-4539-B6CE-B1A223F5484D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.brave.Browser</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://news.ycombinator.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F4F504C4-936F-4190-9025-3D548C182D09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>00D00BD2-C372-4ED7-82F3-9630425DF082</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>2BFFB14C-E0BE-48F4-ADED-B4EB3B3EF066</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>35F25112-8471-4539-B6CE-B1A223F5484D</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>3E05C747-B3B8-43B4-A0C2-319F99C5B8C9</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>7C321AC5-3A29-42BE-994A-F23820B0C82E</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>90680729-1388-4C11-BEA2-A5D26579D1AF</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>91525C9E-A387-4C34-BFD2-8B7C0C95863F</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>92824A70-F067-4B18-A908-8CDE0A239B67</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>9FD4F0C4-92FA-4E82-BADC-986CC906A0C5</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>A3093D2F-3B13-4143-B7E4-53C888032206</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>A4D63330-B305-450C-A14E-708F1990B3D6</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>AD68FEBD-E6F4-4FE1-97B7-1D5700934CC8</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>B566367C-33D9-484E-9104-3D6D32EC9725</key>
		<dict>
			<key>xpos</key>
			<integer>905</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>B629CE2F-D77D-42E8-BBF5-2A106E623F43</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>B65D4165-FD30-40E2-BF7E-302A15D59CF6</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>C6326AFB-10A2-4240-877F-1BE5498020D8</key>
		<dict>
			<key>xpos</key>
			<integer>905</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>C6B0AE30-267A-43C8-8AB0-5D0303C2E23D</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>CA0F89B8-2429-44FC-8A11-6B04F8C415DC</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>CBBA0518-DD1D-41AE-9E2F-EE43ACC492F2</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>DBE513FF-2840-4B9B-92C0-DD999FEB70A9</key>
		<dict>
			<key>xpos</key>
			<integer>885</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>F0195983-A807-4A04-B5B6-9243656150D5</key>
		<dict>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>F4F504C4-936F-4190-9025-3D548C182D09</key>
		<dict>
			<key>xpos</key>
			<integer>905</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>FC2D7FAF-AF91-41BE-B707-249FA4C1B3D7</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
