<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>09182BFF-9E66-40A3-B400-83A661DAAE62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B50A346-A822-4A34-83F4-716274D88E82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1574EB3A-9163-4CBF-90B9-E15B3E415BC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A6437FD-4AB2-4EEA-9609-14F14467E463</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B50A346-A822-4A34-83F4-716274D88E82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A6437FD-4AB2-4EEA-9609-14F14467E463</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF45EE4E-446A-422B-B092-0152E83881A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1574EB3A-9163-4CBF-90B9-E15B3E415BC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>srinathkrishna</string>
	<key>description</key>
	<string>Workflows for Slack</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Slack</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>away</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Set status to away</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>09182BFF-9E66-40A3-B400-83A661DAAE62</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>away</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3B50A346-A822-4A34-83F4-716274D88E82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  set theQuery to item 1 of argv

  tell application "Slack" to activate  delay 0.2
  tell application "System Events"	repeat 5 times		key code 53	end repeat		keystroke "k" using {command down}	delay 0.2		keystroke "Srinath Ananthakrishnan"	keystroke return	delay 0.2		keystroke "/"	delay 0.2		keystroke theQuery	delay 0.2	keystroke return	delay 0.2  end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1A6437FD-4AB2-4EEA-9609-14F14467E463</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>active</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Set status to away</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DF45EE4E-446A-422B-B092-0152E83881A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>active</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1574EB3A-9163-4CBF-90B9-E15B3E415BC8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>09182BFF-9E66-40A3-B400-83A661DAAE62</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>1574EB3A-9163-4CBF-90B9-E15B3E415BC8</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>1A6437FD-4AB2-4EEA-9609-14F14467E463</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>3B50A346-A822-4A34-83F4-716274D88E82</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>DF45EE4E-446A-422B-B092-0152E83881A5</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
