<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0B2E94CE-48AC-4249-8F00-380CFBE0FC1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D57FF5DA-8D86-4D70-B57B-3E7F2068A8BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>185A4415-1FC8-4987-AAE8-D4DD51EF25B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91824FE5-42A7-478A-9257-7A6BA718FE66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F0D1BA4-4981-47F1-BE02-59E7C6009175</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE810E18-E665-486A-9E04-01A8645C5DC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>249E6F3A-A0AD-4C1D-9A6E-38A91172596B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>707358FC-BA00-4BB3-89DC-A4A7BF342004</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BC29764-338C-4177-B994-0F984D29FF27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FEC3CC57-5127-411A-8AD9-FAB6723E66BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D1AE9E8-0155-49A4-81AA-6D125379F700</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D57FF5DA-8D86-4D70-B57B-3E7F2068A8BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31DC27AA-5DC4-492E-B65E-5C8700F90422</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0E564F3-3DE4-4E9C-B0D0-05DF46384BEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3CD06D79-5422-4BB9-8EB5-81F2F0032E5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17BC0C59-75F9-4B2D-B277-5B258C0F2F3F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4307AA8D-16FD-4F11-9169-80A22FBE2443</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DD88736-3FF8-4C0E-88B7-173400CA0D36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>48F805E0-9FC2-4A1A-8DDE-B08258581B3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD5609D0-603D-4F4B-AEA7-4139109AB1C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5AA28764-C7E9-4297-9684-B6F3580C27A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71A6E37D-F7C7-4FB7-869B-097C7D7F5503</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5DB175C5-FF8C-4B64-AF94-E59C0ED87F49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88C0F3CF-8CFF-4564-BAB9-88A8BC9AABD6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F374121-56DE-4ADB-B8B8-F1F69946EB59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CD06D79-5422-4BB9-8EB5-81F2F0032E5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>611CF93D-66D5-42ED-8C8E-71B78311882F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D6328DF-4286-42BA-B091-028C60605CD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>613A3189-73CE-47FC-910D-86D25FB056CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1E5A1BA-3D10-4E01-AFD4-7F6A1F488E9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>61D5B092-36A4-4039-8250-95638DA76358</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC7A180F-3418-4C99-BD66-446C2E16C618</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>642AB7E5-4409-4673-87C3-0F36064AEF82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D1AE9E8-0155-49A4-81AA-6D125379F700</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>707358FC-BA00-4BB3-89DC-A4A7BF342004</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E80560D9-FB71-4CC5-A8CD-54054C003FF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71A6E37D-F7C7-4FB7-869B-097C7D7F5503</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>613A3189-73CE-47FC-910D-86D25FB056CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7937C5FC-666E-47EC-A8AC-483D6DBA6A01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DD88736-3FF8-4C0E-88B7-173400CA0D36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79622AD0-991E-48D8-A88A-A8DC4508BA00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7937C5FC-666E-47EC-A8AC-483D6DBA6A01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7BDD9EBC-8C52-4956-B61E-AF4D8B1B53B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48F805E0-9FC2-4A1A-8DDE-B08258581B3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>88C0F3CF-8CFF-4564-BAB9-88A8BC9AABD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DD88736-3FF8-4C0E-88B7-173400CA0D36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F2F085C-8834-4BE1-8DBF-EE1D29CE4F94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B44785AF-29AE-4431-88D3-2044CC9A2BE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90588C61-DEFD-4414-999C-C9E952BAF39F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF3D3AD5-D3FA-4186-BE90-5E51293501D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91824FE5-42A7-478A-9257-7A6BA718FE66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DD88736-3FF8-4C0E-88B7-173400CA0D36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>937E32A2-92D1-4755-B7BF-B23DB082EA27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1D1F4C3-E9DC-435E-8C7B-9E80C75571DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D6328DF-4286-42BA-B091-028C60605CD7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CD06D79-5422-4BB9-8EB5-81F2F0032E5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB0FF079-40F6-4BBA-A4F2-961A4ED2DD27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E80560D9-FB71-4CC5-A8CD-54054C003FF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>fileexists</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>15E3445C-AD5C-4389-B0B3-0BB48B89133D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF3D3AD5-D3FA-4186-BE90-5E51293501D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D57FF5DA-8D86-4D70-B57B-3E7F2068A8BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B44785AF-29AE-4431-88D3-2044CC9A2BE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DD88736-3FF8-4C0E-88B7-173400CA0D36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0E564F3-3DE4-4E9C-B0D0-05DF46384BEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DD88736-3FF8-4C0E-88B7-173400CA0D36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C571162D-F32B-4065-B3DB-D6B1341A7BBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61D5B092-36A4-4039-8250-95638DA76358</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC7A180F-3418-4C99-BD66-446C2E16C618</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB0FF079-40F6-4BBA-A4F2-961A4ED2DD27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE810E18-E665-486A-9E04-01A8645C5DC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D57FF5DA-8D86-4D70-B57B-3E7F2068A8BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D57FF5DA-8D86-4D70-B57B-3E7F2068A8BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17BC0C59-75F9-4B2D-B277-5B258C0F2F3F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D88D8F04-C83D-49F8-930A-120CA4A77DC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4307AA8D-16FD-4F11-9169-80A22FBE2443</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD5609D0-603D-4F4B-AEA7-4139109AB1C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF3E5F37-0600-4488-9667-1342885C0444</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>fileexists</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4266E24B-55A5-45EE-A212-D30013016E6C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1E5A1BA-3D10-4E01-AFD4-7F6A1F488E9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E80560D9-FB71-4CC5-A8CD-54054C003FF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>fileexists</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>249E6F3A-A0AD-4C1D-9A6E-38A91172596B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E80560D9-FB71-4CC5-A8CD-54054C003FF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DD88736-3FF8-4C0E-88B7-173400CA0D36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE0A7996-AB30-4509-A1AA-FEC5D2ACEC91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B2E94CE-48AC-4249-8F00-380CFBE0FC1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF3E5F37-0600-4488-9667-1342885C0444</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DD88736-3FF8-4C0E-88B7-173400CA0D36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1D1F4C3-E9DC-435E-8C7B-9E80C75571DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CD06D79-5422-4BB9-8EB5-81F2F0032E5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6F55A58-18EF-477B-B04D-E959EFB3E624</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F374121-56DE-4ADB-B8B8-F1F69946EB59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FEC3CC57-5127-411A-8AD9-FAB6723E66BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>613A3189-73CE-47FC-910D-86D25FB056CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>srinathkrishna</string>
	<key>description</key>
	<string>Some helpful Obsidian hacks</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Obsidian</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>k</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Kanban</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8F2F085C-8834-4BE1-8DBF-EE1D29CE4F94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>meta/life/kanban.md</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B44785AF-29AE-4431-88D3-2044CC9A2BE2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>w</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Work Kanban</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>31DC27AA-5DC4-492E-B65E-5C8700F90422</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:work}/kanban.md</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C0E564F3-3DE4-4E9C-B0D0-05DF46384BEC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>obsidian://open?vault={var:vault}&amp;file={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2DD88736-3FF8-4C0E-88B7-173400CA0D36</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>j</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Today's Journal</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5AA28764-C7E9-4297-9684-B6F3580C27A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>fileutivariablename</key>
				<string></string>
				<key>outputfileuti</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.file</string>
			<key>uid</key>
			<string>E1E5A1BA-3D10-4E01-AFD4-7F6A1F488E9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:journal}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E80560D9-FB71-4CC5-A8CD-54054C003FF6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:vault_dir}/journal/{query}.md</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>journal</key>
					<string>journal/{query}.md</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>613A3189-73CE-47FC-910D-86D25FB056CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{date:yyyy-MM-dd}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>71A6E37D-F7C7-4FB7-869B-097C7D7F5503</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>journal=$1

cp "$vault_dir/$templates/journal.md" $journal</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>249E6F3A-A0AD-4C1D-9A6E-38A91172596B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>707358FC-BA00-4BB3-89DC-A4A7BF342004</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>No journal entry for yesterday</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>15E3445C-AD5C-4389-B0B3-0BB48B89133D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>yj</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Yesterday's Journal</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C571162D-F32B-4065-B3DB-D6B1341A7BBD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:vault_dir}/journal/{query}.md</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>journal</key>
					<string>journal/{query}.md</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CC7A180F-3418-4C99-BD66-446C2E16C618</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{date -1D:yyyy-MM-dd}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>61D5B092-36A4-4039-8250-95638DA76358</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>fileutivariablename</key>
				<string></string>
				<key>outputfileuti</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.file</string>
			<key>uid</key>
			<string>AB0FF079-40F6-4BBA-A4F2-961A4ED2DD27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tj</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Tomorrow's Journal</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2BC29764-338C-4177-B994-0F984D29FF27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>current-book.md</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EF3E5F37-0600-4488-9667-1342885C0444</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{date +1D:yyyy-MM-dd}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FEC3CC57-5127-411A-8AD9-FAB6723E66BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>b</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Current Book</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7BDD9EBC-8C52-4956-B61E-AF4D8B1B53B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Start one with "ob {name}"</string>
				<key>title</key>
				<string>No current book</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4266E24B-55A5-45EE-A212-D30013016E6C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>fileutivariablename</key>
				<string></string>
				<key>outputfileuti</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.file</string>
			<key>uid</key>
			<string>DD5609D0-603D-4F4B-AEA7-4139109AB1C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:vault_dir}/current-book.md</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>48F805E0-9FC2-4A1A-8DDE-B08258581B3A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wq</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Work Questions</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>79622AD0-991E-48D8-A88A-A8DC4508BA00</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:work}/questions.md</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7937C5FC-666E-47EC-A8AC-483D6DBA6A01</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wr</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Work Reading List</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>185A4415-1FC8-4987-AAE8-D4DD51EF25B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:work}/reading-list.md</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>91824FE5-42A7-478A-9257-7A6BA718FE66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>q</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Questions</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5DB175C5-FF8C-4B64-AF94-E59C0ED87F49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>meta/questions.md</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>88C0F3CF-8CFF-4564-BAB9-88A8BC9AABD6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>r</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Work Reading List</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D88D8F04-C83D-49F8-930A-120CA4A77DC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>meta/reading-list.md</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4307AA8D-16FD-4F11-9169-80A22FBE2443</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wq</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add a Work Question</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1F0D1BA4-4981-47F1-BE02-59E7C6009175</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>- {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>{var:work}/questions.md</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CE810E18-E665-486A-9E04-01A8645C5DC4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wr</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add to Work Reading List</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>642AB7E5-4409-4673-87C3-0F36064AEF82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>- [ ] {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>{var:work}/reading-list.md</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2D1AE9E8-0155-49A4-81AA-6D125379F700</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="$1"


$vault_dir/.obsidian/scripts/nucleas.py file:append "$vault_dir/$filename" "$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D57FF5DA-8D86-4D70-B57B-3E7F2068A8BB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>q</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add a Question</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>90588C61-DEFD-4414-999C-C9E952BAF39F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>- {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>meta/questions.md</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AF3D3AD5-D3FA-4186-BE90-5E51293501D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Obsidian Operation Failed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>17BC0C59-75F9-4B2D-B277-5B258C0F2F3F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>r</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add to Reading List</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EE0A7996-AB30-4509-A1AA-FEC5D2ACEC91</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>- [ ] {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>meta/reading-list.md</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0B2E94CE-48AC-4249-8F00-380CFBE0FC1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>k</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add to Kanban</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>937E32A2-92D1-4755-B7BF-B23DB082EA27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>{var:vault_dir}/meta/life/kanban.md</string>
					<key>section</key>
					<string>backlog</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F1D1F4C3-E9DC-435E-8C7B-9E80C75571DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

$vault_dir/.obsidian/scripts/nucleas.py kanban:add "$filename" "$section" "$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3CD06D79-5422-4BB9-8EB5-81F2F0032E5E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>w</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add to Work Kanban</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>611CF93D-66D5-42ED-8C8E-71B78311882F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>{var:vault_dir}/{var:work}/kanban.md</string>
					<key>section</key>
					<string>backlog</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9D6328DF-4286-42BA-B091-028C60605CD7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add to Paper Cut</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F6F55A58-18EF-477B-B04D-E959EFB3E624</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>{var:vault_dir}/meta/productivity/paper-cuts.md</string>
					<key>section</key>
					<string>backlog</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5F374121-56DE-4ADB-B8B8-F1F69946EB59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0B2E94CE-48AC-4249-8F00-380CFBE0FC1C</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>1760</real>
		</dict>
		<key>15E3445C-AD5C-4389-B0B3-0BB48B89133D</key>
		<dict>
			<key>xpos</key>
			<real>1005</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>17BC0C59-75F9-4B2D-B277-5B258C0F2F3F</key>
		<dict>
			<key>note</key>
			<string>Error Notification</string>
			<key>xpos</key>
			<real>1330</real>
			<key>ypos</key>
			<real>1695</real>
		</dict>
		<key>185A4415-1FC8-4987-AAE8-D4DD51EF25B5</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>930</real>
		</dict>
		<key>1F0D1BA4-4981-47F1-BE02-59E7C6009175</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>1325</real>
		</dict>
		<key>249E6F3A-A0AD-4C1D-9A6E-38A91172596B</key>
		<dict>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>2BC29764-338C-4177-B994-0F984D29FF27</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>2D1AE9E8-0155-49A4-81AA-6D125379F700</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>1495</real>
		</dict>
		<key>2DD88736-3FF8-4C0E-88B7-173400CA0D36</key>
		<dict>
			<key>note</key>
			<string>Open file</string>
			<key>xpos</key>
			<real>1350</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>31DC27AA-5DC4-492E-B65E-5C8700F90422</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>3CD06D79-5422-4BB9-8EB5-81F2F0032E5E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Add to Kanban Section</string>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>1970</real>
		</dict>
		<key>4266E24B-55A5-45EE-A212-D30013016E6C</key>
		<dict>
			<key>xpos</key>
			<real>910</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>4307AA8D-16FD-4F11-9169-80A22FBE2443</key>
		<dict>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>1205</real>
		</dict>
		<key>48F805E0-9FC2-4A1A-8DDE-B08258581B3A</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>5AA28764-C7E9-4297-9684-B6F3580C27A3</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>5DB175C5-FF8C-4B64-AF94-E59C0ED87F49</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>1055</real>
		</dict>
		<key>5F374121-56DE-4ADB-B8B8-F1F69946EB59</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>2115</real>
		</dict>
		<key>611CF93D-66D5-42ED-8C8E-71B78311882F</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>1970</real>
		</dict>
		<key>613A3189-73CE-47FC-910D-86D25FB056CB</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>61D5B092-36A4-4039-8250-95638DA76358</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>642AB7E5-4409-4673-87C3-0F36064AEF82</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>1465</real>
		</dict>
		<key>707358FC-BA00-4BB3-89DC-A4A7BF342004</key>
		<dict>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>71A6E37D-F7C7-4FB7-869B-097C7D7F5503</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>7937C5FC-666E-47EC-A8AC-483D6DBA6A01</key>
		<dict>
			<key>xpos</key>
			<real>965</real>
			<key>ypos</key>
			<real>835</real>
		</dict>
		<key>79622AD0-991E-48D8-A88A-A8DC4508BA00</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>7BDD9EBC-8C52-4956-B61E-AF4D8B1B53B1</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>88C0F3CF-8CFF-4564-BAB9-88A8BC9AABD6</key>
		<dict>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>1085</real>
		</dict>
		<key>8F2F085C-8834-4BE1-8DBF-EE1D29CE4F94</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>90588C61-DEFD-4414-999C-C9E952BAF39F</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>1595</real>
		</dict>
		<key>91824FE5-42A7-478A-9257-7A6BA718FE66</key>
		<dict>
			<key>xpos</key>
			<real>965</real>
			<key>ypos</key>
			<real>955</real>
		</dict>
		<key>937E32A2-92D1-4755-B7BF-B23DB082EA27</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>1855</real>
		</dict>
		<key>9D6328DF-4286-42BA-B091-028C60605CD7</key>
		<dict>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>2000</real>
		</dict>
		<key>AB0FF079-40F6-4BBA-A4F2-961A4ED2DD27</key>
		<dict>
			<key>xpos</key>
			<real>830</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>AF3D3AD5-D3FA-4186-BE90-5E51293501D3</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>1625</real>
		</dict>
		<key>B44785AF-29AE-4431-88D3-2044CC9A2BE2</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>C0E564F3-3DE4-4E9C-B0D0-05DF46384BEC</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>C571162D-F32B-4065-B3DB-D6B1341A7BBD</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>CC7A180F-3418-4C99-BD66-446C2E16C618</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>CE810E18-E665-486A-9E04-01A8645C5DC4</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>1355</real>
		</dict>
		<key>D57FF5DA-8D86-4D70-B57B-3E7F2068A8BB</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Append line to $filename</string>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>1510</real>
		</dict>
		<key>D88D8F04-C83D-49F8-930A-120CA4A77DC1</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>1175</real>
		</dict>
		<key>DD5609D0-603D-4F4B-AEA7-4139109AB1C1</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>E1E5A1BA-3D10-4E01-AFD4-7F6A1F488E9B</key>
		<dict>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>E80560D9-FB71-4CC5-A8CD-54054C003FF6</key>
		<dict>
			<key>xpos</key>
			<real>1075</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>EE0A7996-AB30-4509-A1AA-FEC5D2ACEC91</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>1730</real>
		</dict>
		<key>EF3E5F37-0600-4488-9667-1342885C0444</key>
		<dict>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>F1D1F4C3-E9DC-435E-8C7B-9E80C75571DF</key>
		<dict>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>1885</real>
		</dict>
		<key>F6F55A58-18EF-477B-B04D-E959EFB3E624</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>2085</real>
		</dict>
		<key>FEC3CC57-5127-411A-8AD9-FAB6723E66BB</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>templates</key>
		<string>meta/templates</string>
		<key>vault</key>
		<string>obsidian</string>
		<key>vault_dir</key>
		<string>/Users/srinath/Documents/vm-shared/syncthing/obsidian</string>
		<key>work</key>
		<string>stripe</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>vault_dir</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
