# Sample configuration for ollama to pick up the RTX 9070XT
# and listen on the host interface
[Service]
Environment="HSA_OVERRIDE_GFX_VERSION=12.0.1"
Environment="ROCR_VISIBLE_DEVICES=0"
Environment="OLLAMA_HOST=0.0.0.0:11434"
